.cover {
    border: 2px solid black;
    padding: 25px;
    background: url(selfie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Amatic SC', cursive;
  }

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
.btn{
    background-color: yellow;
    color:rgb(11, 10, 10);
    font-weight: bold;
}

